{% extends 'base.html.twig' %}

{% block body %}
    <h1>Formateurs list</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="col">Id</th>
                <th class="col">Name</th>
                <th class="col">Firstname</th>
                <th class="col">Speciality</th>
                <th class="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for formateur in formateurs %}
            <tr>
                <td><a href="{{ path('formateur_show', { 'id': formateur.id }) }}">{{ formateur.id }}</a></td>
                <td>{{ formateur.name }}</td>
                <td>{{ formateur.firstname }}</td>
                <td>{{ formateur.speciality }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('formateur_show', { 'id': formateur.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('formateur_edit', { 'id': formateur.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('formateur_new') }}">Create a new formateur</a>
        </li>
    </ul>
{% endblock %}
