{% extends 'base.html.twig' %}

{% block body %}
    <h1>Plannings list</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th class="col">Id</th>
                <th class="col">Halfday</th>
                <th class="col">Day</th>
                <th class="col">Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for planning in plannings %}
            <tr>
                <td><a href="{{ path('planning_show', { 'id': planning.id }) }}">{{ planning.id }}</a></td>
                <td>{% if planning.halfDay %}Matin{%  else  %}Aprem{% endif %}</td>
                <td>{{ planning.day }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('planning_show', { 'id': planning.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('planning_edit', { 'id': planning.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('planning_new') }}">Create a new planning</a>
        </li>
    </ul>
{% endblock %}
